@font-face {
  font-family: "Raleway";
  src: url("./fonts/Raleway-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RalewayBold";
  src: url("./fonts/Raleway-Bold.ttf") format("truetype");
}

:root {
  --main-color: #0065fc;
}

* {
  box-sizing: border-box;

  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
}

/*--------------------------------------------------header---------------------------------------------------------------------------------*/
header {
  max-width: 1330px;
  margin: 0 auto;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

header img {
  max-height: 50px;
}

header .nav a {
  padding: 0 50px;
  display: flex;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  color: #333;

  border-top: 2px transparent solid;
  border-bottom: 2px transparent solid;
  text-decoration: none;
}
nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav a:hover {
  color: var(--main-color);
  border-top: 2px var(--main-color) solid;
}

h2 {
  margin: 0;
}

/*---------------------------------------------slogan--------------------------------------------------------------------------------------------------- */
.slogan {
  margin: 0;
}

/* ---------------------------------------------form recherche emplacement----------------------------------------------------------------------------- */
.form_search {
  display: flex;
  margin-bottom: 30px;
}
.emplacement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  text-align: center;
  background: #f2f2f2;
  border-radius: 10px 0 0 10px;
}
.btn {
  width: 150px;
  height: 50px;
  border: none;
  background: var(--main-color);
  border-radius: 0 10px 10px 0px;
  color: white;
  font-weight: bold;
  font-size: larger;
}
input[type="text"] {
  padding-left: 10px;
  font-family: "RalewayBold";
  border: 1px solid #f2f2f2;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

input[type="text"]::placeholder {
  font-weight: bold;
  font-family: "RalewayBold";
  color: #333;
  font-size: 16px;
}

/* ---------------------------------------------------filtre-------------------------------------------------------------------------- */
.filt {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filt h3 {
  margin-right: 20px;
}

.filter {
  display: flex;
  align-items: center;
  border: 3px solid #f2f2f2;
  border-radius: 25px;
  color: rgb(24, 5, 5);
  height: 50px;
  width: fit-content;
  font-weight: bold;
  margin: 5px 0;
  margin-right: 20px;
}

.filter .icone {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  background: #deebff;
  border-radius: 50%;
  margin: -3px;
  color: var(--main-color);
}
.filter span:hover {
  color: #6e97da;
}
.filter .icone:hover {
  background-color: #6e97da;
}

.filter span {
  padding: 0 20px;
}

/* -------------------------------------------------partie header menu logo haut fini---------------------------------------------------------------------------*/

.star {
  color: #f2f2f2;
}

.star .checked {
  color: var(--main-color);
}
/* ---------------------------------------------------main hebergement activite----------------------------- */
.main {
  max-width: 1330px;
  margin: 0 auto;
}
/* -------------------titre_droite------------- */
.titre_droite {
  display: flex;
  align-items: center;

  margin: 20px 0px;
}

.titre_droite i {
  color: var(--main-color);
  height: 20px;
  border: 2px #f2f2f2 solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 20px;
}

.titre_droite p {
  padding: 0px 10px;
}
/* -------------------top part--------------- */
.top-part {
  display: flex;
}
/* ---------------------------------------------------gauche hebergement--------------------------------------*/
h4,
p {
  margin: 5px 0;
}
.gauche {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.gauche h2,
.feed {
  padding-bottom: 20px;
}

.gauche .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.image {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 8px solid white;
  background: white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 2px 2px 2px 2px rgb(240, 234, 234);
}
.image:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.image img {
  width: 100%;
  object-fit: cover;
  height: 115px;
}
/* ------------------------------------------------droite activite------------------------------------------------------- */
.droite {
  margin-left: 30px;
  background-color: #f2f2f2;
  border-radius: 25px;
  display: flex;
  width: 30%;
  flex-direction: column;
  padding: 35px;
}
.feed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.droite .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.droite .image {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.droite .image img {
  width: 50%;
}

.droite .rate {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  width: 200px;
  border-radius: 5px;
  margin-left: 5px;
}

/* -----------------------------------------------------bas--------------------------------------------------- */
#titre_bas {
  margin: 50px 0px 20px 0px;
}
.bas {
  display: flex;
  max-height: 600px;
}
.colone {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.colone:first-child {
  padding-left: 0;
}
.colone:last-child {
  padding-right: 0;
}

.bas .colone .image {
  width: 100%;

  border: none;
  position: relative;
  display: flex;
  flex-grow: 1;
}

.bas .colone .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bas .colone .image .rate {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding: 10px 20px;
}

footer {
  flex-shrink: 0;
  border-top: 1px;
  width: 100%;
  background: #1f1f1f1f;
  color: #333;
}

.contenu_footer {
  width: 1330px;
  margin: 0px 60px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 20px;
  padding: 50px 0 100px;
}

.col {
  width: 33%;
}
.col li {
  list-style-type: none;
  padding: 5px;
}
.col a {
  text-decoration: none;
  color: #333;
}
.row {
  display: flex;
}
